<h1>Listing answers</h1>
 
<p>
  <%= link_to 'New Answer', new_answer_path %>
</p> 
 
<table>
  <tr>
    <th>ip</th>
    <th>question</th>
    <th>answer</th>
    <th>delete</th>
  </tr>
 
  <% @answers.each do |answer| %>
    <tr>
      <td><%= answer.ip %></td>
      <td><%= answer.question %></td>
      <td><%= answer.option %></td>
      <td><%= link_to 'Destroy', answer_path(answer),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

