<h1>quiz - answer here!</h1>

<%= form_for :answer, url: answers_path do |f| %>
  <p>
    <%= f.label :ip %><br>
    <%= f.text_field :ip %>
  </p>
  
  <p>
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </p>
 
  <p>
    <%= f.label :option %><br>
    <%= f.text_field :option %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>