<h1>quiz - answer here!</h1>

<%= form_for :answer, url: answers_path do |f| %>
  <p><%= @question["question"] %></p>

  <ol>
    <% @question["options"].each_with_index do |opt, val| %>
      <li>
        <%= f.radio_button(:option, val) %>
        <%= f.label(:option_a, opt) %>
      </li>
    <% end %>
  </ol>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>